
@{
    ViewBag.Title = "ListCustomerGym";
}

<h2>ListCustomerGym</h2>

<div>

    Visualizza la lista dei clienti della palestra:
    <br />
    @Html.ActionLink("Guarda lista", "ViewCustomerList", "Customer", new { currentPage = 1}, null)
</div>